# Data Wrangling

### Import the libraries

We will be mostly using `pandas`.

In [1]:
import pandas as pd

### Load the file

In [2]:
data_frame = pd.read_csv("raw_data.csv")

## Null values

In [3]:
# Check for missing values
data_frame.isnull().sum()

time                   0
wmo                    0
name                   0
history_product        0
air_temp               0
apparent_t             9
dewpt                  0
rel_hum                0
delta_t                0
wind_dir_deg           9
wind_spd_kmh           9
gust_kmh              16
rain_trace           262
rain_ten              30
rain_hour             59
duration_from_9am    262
press                  3
lat                    0
lon                    0
location               0
dtype: int64

In [4]:
# Remove Null values
data_frame = data_frame.dropna()
data_frame.isnull().sum()

time                 0
wmo                  0
name                 0
history_product      0
air_temp             0
apparent_t           0
dewpt                0
rel_hum              0
delta_t              0
wind_dir_deg         0
wind_spd_kmh         0
gust_kmh             0
rain_trace           0
rain_ten             0
rain_hour            0
duration_from_9am    0
press                0
lat                  0
lon                  0
location             0
dtype: int64

## Duplicate Values

In [5]:
# Find duplicates
data_frame.duplicated().sum()

np.int64(0)

In [6]:
# Remove duplicates
data_frame = data_frame.drop_duplicates()
data_frame.duplicated().sum()

np.int64(0)

## Time Management

In [7]:
# Show time values
print(data_frame['time'])

0        2024-06-30T15:00:00+10:00
1        2025-02-08T23:00:00+11:00
2        2025-02-08T19:30:00+11:00
3        2025-02-09T02:00:00+11:00
4        2025-02-08T23:30:00+11:00
                   ...
13642    2025-03-08T09:00:00+11:00
13643    2025-03-08T08:30:00+11:00
13644    2025-03-08T10:00:00+11:00
13645    2025-03-08T09:30:00+11:00
13646    2025-03-08T10:30:00+11:00
Name: time, Length: 13353, dtype: object

In [8]:
# Remove timezone from time values
data_frame["time"] = data_frame["time"].astype(str)
data_frame["time"] = data_frame["time"].str.replace(r'\+\d{2}:\d{2}', '', regex=True)
print(data_frame['time'])

0        2024-06-30T15:00:00
1        2025-02-08T23:00:00
2        2025-02-08T19:30:00
3        2025-02-09T02:00:00
4        2025-02-08T23:30:00
                ...
13642    2025-03-08T09:00:00
13643    2025-03-08T08:30:00
13644    2025-03-08T10:00:00
13645    2025-03-08T09:30:00
13646    2025-03-08T10:30:00
Name: time, Length: 13353, dtype: object

In [9]:
# Remove T from time values
data_frame['time'] = data_frame['time'].str.replace('T', ' ')
print(data_frame['time'])

0        2024-06-30 15:00:00
1        2025-02-08 23:00:00
2        2025-02-08 19:30:00
3        2025-02-09 02:00:00
4        2025-02-08 23:30:00
                ...
13642    2025-03-08 09:00:00
13643    2025-03-08 08:30:00
13644    2025-03-08 10:00:00
13645    2025-03-08 09:30:00
13646    2025-03-08 10:30:00
Name: time, Length: 13353, dtype: object

In [10]:
# Convert values into UNIX timestamp in seconds
data_frame['time'] = pd.to_datetime(data_frame['time'])
data_frame['time'] = data_frame['time'].astype(int) // 10**9
print(data_frame['time'])

0        1719759600
1        1739055600
2        1739043000
3        1739066400
4        1739057400
            ...
13642    1741424400
13643    1741422600
13644    1741428000
13645    1741426200
13646    1741429800
Name: time, Length: 13353, dtype: int64

In [11]:
# Sort values by time
data_frame = data_frame.sort_values(by='time')
print(data_frame)

             time    wmo            name history_product  air_temp  \
4858   1715617800  94767  Sydney Airport        IDN60910      19.3
4859   1715619600  94767  Sydney Airport        IDN60910      18.9
2451   1715621400  94767  Sydney Airport        IDN60910      18.7
4861   1715623200  94767  Sydney Airport        IDN60910      18.4
4863   1715625000  94767  Sydney Airport        IDN60910      18.0
...           ...    ...             ...             ...       ...
13645  1741426200  94767  Sydney Airport        IDN60910      25.0
13644  1741428000  94767  Sydney Airport        IDN60910      24.9
13646  1741429800  94767  Sydney Airport        IDN60910      25.4
12506  1741431600  94767  Sydney Airport        IDN60910      26.1
13541  1741433400  94767  Sydney Airport        IDN60910      25.9

       apparent_t  dewpt  rel_hum  delta_t  wind_dir_deg  wind_spd_kmh  \
4858         16.1   15.2       77      2.4         195.0          26.0
4859         16.9   15.4       80      2.1         203.0          20.0
2451         16.7   15.0       79      2.2         209.0          19.0
4861         16.8   15.1       81      1.9         213.0          17.0
4863         16.7   14.7       81      1.9         230.0          15.0
...           ...    ...      ...      ...           ...           ...
13645        23.2   18.7       68      4.0          82.0          26.0
13644        23.1   17.9       65      4.4         100.0          24.0
13646        22.3   17.6       62      4.9          82.0          30.0
12506        24.0   18.0       61      5.1          78.0          26.0
13541        22.0   17.0       58      5.5          81.0          33.0

       gust_kmh  rain_trace  rain_ten  rain_hour  duration_from_9am   press  \
4858       32.0         0.0       0.0        0.0              450.0  1019.7
4859       28.0         0.0       0.0        0.0              480.0  1019.8
2451       22.0         0.0       0.0        0.0              510.0  1020.2
4861       20.0         0.0       0.0        0.0              540.0  1020.6
4863       17.0         0.0       0.0        0.0              570.0  1020.9
...         ...         ...       ...        ...                ...     ...
13645      33.0         0.0       0.0        0.0               30.0  1022.8
13644      33.0         0.0       0.0        0.0               60.0  1023.1
13646      37.0         0.0       0.0        0.0               90.0  1023.2
12506      33.0         0.0       0.0        0.0              120.0  1023.0
13541      43.0         0.2       0.2        0.2              150.0  1023.0

           lat       lon            location
4858  -33.9465  151.1731  -33.9465, 151.1731
4859  -33.9465  151.1731  -33.9465, 151.1731
2451  -33.9465  151.1731  -33.9465, 151.1731
4861  -33.9465  151.1731  -33.9465, 151.1731
4863  -33.9465  151.1731  -33.9465, 151.1731
...        ...       ...                 ...
13645 -33.9465  151.1731  -33.9465, 151.1731
13644 -33.9465  151.1731  -33.9465, 151.1731
13646 -33.9465  151.1731  -33.9465, 151.1731
12506 -33.9465  151.1731  -33.9465, 151.1731
13541 -33.9465  151.1731  -33.9465, 151.1731

[13353 rows x 20 columns]

## Removing Unneeded Columns

In [12]:
# Drop columns that are not needed
"""
Icluded columns:
- wmo
- name
- history_product
- lat
- lon
- location
"""

data_frame = data_frame.drop(columns=['wmo', 'name', 'history_product', 'lat', 'lon', 'location'])
print(data_frame)

             time  air_temp  apparent_t  dewpt  rel_hum  delta_t  \
4858   1715617800      19.3        16.1   15.2       77      2.4
4859   1715619600      18.9        16.9   15.4       80      2.1
2451   1715621400      18.7        16.7   15.0       79      2.2
4861   1715623200      18.4        16.8   15.1       81      1.9
4863   1715625000      18.0        16.7   14.7       81      1.9
...           ...       ...         ...    ...      ...      ...
13645  1741426200      25.0        23.2   18.7       68      4.0
13644  1741428000      24.9        23.1   17.9       65      4.4
13646  1741429800      25.4        22.3   17.6       62      4.9
12506  1741431600      26.1        24.0   18.0       61      5.1
13541  1741433400      25.9        22.0   17.0       58      5.5

       wind_dir_deg  wind_spd_kmh  gust_kmh  rain_trace  rain_ten  rain_hour  \
4858          195.0          26.0      32.0         0.0       0.0        0.0
4859          203.0          20.0      28.0         0.0       0.0        0.0
2451          209.0          19.0      22.0         0.0       0.0        0.0
4861          213.0          17.0      20.0         0.0       0.0        0.0
4863          230.0          15.0      17.0         0.0       0.0        0.0
...             ...           ...       ...         ...       ...        ...
13645          82.0          26.0      33.0         0.0       0.0        0.0
13644         100.0          24.0      33.0         0.0       0.0        0.0
13646          82.0          30.0      37.0         0.0       0.0        0.0
12506          78.0          26.0      33.0         0.0       0.0        0.0
13541          81.0          33.0      43.0         0.2       0.2        0.2

       duration_from_9am   press
4858               450.0  1019.7
4859               480.0  1019.8
2451               510.0  1020.2
4861               540.0  1020.6
4863               570.0  1020.9
...                  ...     ...
13645               30.0  1022.8
13644               60.0  1023.1
13646               90.0  1023.2
12506              120.0  1023.0
13541              150.0  1023.0

[13353 rows x 14 columns]