# Visualisation of Raw Data

Here we will visualise the raw data.

### Import libraries:

(Note: this may take a while.)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Load the file

Load the external `.csv` file, and load into local variable.

In [2]:
data_frame = pd.read_csv('raw_data.csv', delimiter = ',')

### Info about data

Includes:
 - Column
 - Non-null Count
 - Data-type

In [3]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13647 entries, 0 to 13646
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               13647 non-null  object
 1   wmo                13647 non-null  int64
 2   name               13647 non-null  object
 3   history_product    13647 non-null  object
 4   air_temp           13647 non-null  float64
 5   apparent_t         13638 non-null  float64
 6   dewpt              13647 non-null  float64
 7   rel_hum            13647 non-null  int64
 8   delta_t            13647 non-null  float64
 9   wind_dir_deg       13638 non-null  float64
 10  wind_spd_kmh       13638 non-null  float64
 11  gust_kmh           13631 non-null  float64
 12  rain_trace         13385 non-null  float64
 13  rain_ten           13617 non-null  float64
 14  rain_hour          13588 non-null  float64
 15  duration_from_9am  13385 non-null  float64
 16  press              13644 non-null  float64
 17  lat                13647 non-null  float64
 18  lon                13647 non-null  float64
 19  location           13647 non-null  object
dtypes: float64(14), int64(2), object(4)
memory usage: 2.1+ MB

### Statistics

Includes:
 - Count
 - Mean
 - Standard deviation
 - Minimum
 - 25th percentile
 - Median
 - 75th percentile
 - Maximum

In [4]:
data_frame = data_frame.select_dtypes(include=['float64', 'int64'])
data_frame = data_frame.drop(columns=['wmo', 'lat', 'lon'])
data_frame.describe()

,air_temp,apparent_t,dewpt,rel_hum,delta_t,wind_dir_deg,wind_spd_kmh,gust_kmh,rain_trace,rain_ten,rain_hour,duration_from_9am,press
count,13647.000000,13638.000000,13647.000000,13647.000000,13647.000000,13638.000000,13638.000000,13631.000000,13385.000000,13617.000000,13588.000000,13385.000000,13644.000000
mean,18.813417,15.898570,12.270865,68.500110,3.501539,183.087036,20.601335,27.172768,1.636466,0.022266,0.129747,727.685245,1017.346299
std,5.148094,6.407123,5.766975,17.673533,2.414986,103.764368,10.447793,13.955201,6.992598,0.205415,0.902639,421.323633,7.162183
min,5.600000,-1.100000,-12.300000,7.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,992.900000
25%,14.800000,11.000000,8.000000,58.000000,1.800000,100.000000,13.000000,17.000000,0.000000,0.000000,0.000000,360.000000,1012.000000
50%,19.100000,16.100000,12.700000,71.000000,3.000000,183.000000,19.000000,26.000000,0.000000,0.000000,0.000000,720.000000,1017.200000
75%,22.500000,20.900000,17.100000,82.000000,4.600000,275.000000,28.000000,35.000000,0.200000,0.000000,0.000000,1110.000000,1022.200000
max,41.500000,39.500000,24.100000,98.000000,17.300000,360.000000,70.000000,100.000000,81.400000,6.600000,28.400000,1440.000000,1039.600000

In [5]:
# Calculate skewness
skewness = data_frame.skew()

print(f"Skewness:\n{skewness}")

Skewness:
air_temp              0.030047
apparent_t           -0.043679
dewpt                -0.412804
rel_hum              -0.672205
delta_t               1.387489
wind_dir_deg         -0.158023
wind_spd_kmh          0.837242
gust_kmh              0.954444
rain_trace            7.237378
rain_ten             17.924453
rain_hour            13.368051
duration_from_9am     0.035108
press                 0.088362
dtype: float64